.historia p {
    font-size: 12px;
}

.personas {
    display: flex;
    justify-content: space-between;
}

.persona {
    width: 18%;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    padding: 13px;
    box-sizing: border-box;
}

.persona img {
    border-radius: 50%;
    border: 1px solid black;
    box-sizing: border-box;
    max-width: 80%;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.persona h5, .persona h6 {
    margin: 0;
    color:rgb(0, 116, 110);
    font-weight: normal;
}

.persona h5 {
    font-size: 19px;
    margin-top: 5px;
}

.persona h6 {
    font-size: 12px;
    font-style: italic;
}

.persona p {
    font-size: 10px;
    color: #666;
}