.servicios {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 16px;
    margin: 16px 0;
    display: flex;
    gap: 32px;
    align-items: center;
    height: 210px;
}

.servicios .info h4 {
    color:rgb(0, 116, 110);
    font-weight: 500;
    font-style: italic;
    border-bottom: 1px solid rgb(0, 116, 110);
    padding-bottom: 10px;
}

.servicios .info p {
    font-size: 13px;
}

.servicios img {
    border-radius: 20px;
    display: block;
    max-width: 225px;
}

.servicios:nth-child(even) {
    flex-direction: row-reverse;
}